/*! CSS bare bones for recipes site */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */

body{

  background-color: beige;
  text-align: center;
  font-family:fantasy;
  font-weight:bold;
}

h1 {
  color: black;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
  border: 3px black;
  background-color: white;
  font-family:fantasy; 
}

h2 {
  color: black(42, 84, 42);
  margin: 0 0 12px 0;
  text-align: center;
}

p {
  color:rgb(54, 48, 48);
  margin-bottom: 1em;
}

main {
  width: 73%;
  max-width: 980px;
  border: 10px 10px;
  padding: 30px 30px; 
  margin: 0 auto;
  background-color: white;
}

img{
  width: 100%;
  float:none;
}

ul {
  margin-left: 40px;
  columns: 2;
  column-rule: 1px aliceblue;
}

li{
  font-size: .8em;
  margin-left: 40px;
}

.caption{
  font-size: .8em;
  float:right;
  width:60%;
}

button {
width: 300px;
background-color: beige;

}

button a {
  text-decoration: none;
  font-family:cursive;
  font-size:x-large;
  color: black;
}

@media screen and (max-width: 700px) {
  main {
    width: 100%;
    max-width: 850px;
    padding: 1em;
    margin: 0 auto;
  }
}



  nav {
    margin: 0;
    position: static;
    width: 100%;
  }

  nav ul {
    font-size: 1rem;
  }

  main {
    width: 100%;
  }

.list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-teaser{
  border: 1px solid white;
  padding: 1em;
  flex-basis: 300px;
  
}
